@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

html,
body {
    font-family: "Sigmar One", sans-serif;
    background: #FFD31B;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    display: table-cell;
    font-size: 10em;
    text-align: center;
    vertical-align: middle;
}
