html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
